body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.weather-box {
    border: 1px solid black;
    border-radius: 5px;
    margin: 7px;
}

.main-weather {
    background-color: #d7e0ff;
    color: #ffffff;
    margin-top: 60px;
    display: flex;
}

.weather-container{
    margin-top: 50px;
}

.temperature {
    float: right;
    font-size: 50pt;
    padding-left: 30px;
}

.date-group-title{
    margin-top: 20px;
    height: 30px;
    width: 100%;
    
}

.dropdown-toggle {
    width: 300px !important;
}


